﻿.input-validation-error {
    border: 1px solid red;
}

.field-validation-error {
    color: red;
}

.row-separator {
    height: 10px;
}

tr > td > label {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

tr > td  .form-control {
    width: 250px;
    padding-right: 10px;
}