﻿table.carsTable {
    width: 650px;
}

table.carsTable > tbody > tr > td.colId, table.carsTable > thead > tr > th.colId {
    width: 0;
    display: none;
}

table.carsTable > tbody > tr > td.colManufacturer, table.carsTable > thead > tr > th.colManufacturer {
    width: 200px;
}

table.carsTable > tbody > tr > td.colModel, table.carsTable > thead > tr > th.colModel {
    width: 200px;
}

table.carsTable > tbody > tr > td.colEngine, table.carsTable > thead > tr > th.colEngine {
    width: 50px;
}

table.carsTable > tbody > tr > td.colYear, table.carsTable > thead > tr > th.colYear {
    width: 50px;
}

table.carsTable > tbody > tr > td.colDeliveredOn, table.carsTable > thead > tr > th.colDeliveredOn {
    width: 100px;
}

table.carsTable > tbody > tr > td.colEdit, table.carsTable > thead > tr > th.colEdit {
    width: 50px;
}

table.carsTable > tbody > tr > td {
    vertical-align: middle;
}
