﻿div#filterContainer {
    float: left;
}

div#filterContainer > label {
    padding-left: 10px;
}

div#filterContainer > table > tbody > tr > td {
    padding-left: 10px;
    padding-bottom: 10px;
}

div#filterContainer > div#filterButtons {
    text-align: right;
}

div#filterContainer > div#filterButtons button {
    margin-left: 10px;
}