﻿.popupContainer {
    vertical-align: middle;
    z-index: 1000;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.7);
}

.popupWindow {
    position: relative;
    background: white;
    opacity: 1;
    top: 50%;
    left: 50%;
}

.popupWindow ul.popupErrorsList {
    margin: 0;
    padding-left: 10px;
    list-style-type: none;
    color: red;
}

.popupWindow ul.popupErrorsList > li {
    padding-bottom: 5px;        
}

.popupWindow div#popupDataContainer {
    overflow-x: auto;
    overflow-y: auto;
}

.popupWindow div#popupTitle {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.popupWindow div#popupButtons {
    text-align: center;    
}

.popupWindow div#popupButtons > button {
    margin-left: 5px;
    margin-right: 5px;
}