﻿@model TestJQuery.Models.CarViewModel

<link rel="stylesheet" type="text/css" href="../../Content/Custom/CarEditDialog.css">
<div>
    @using (Html.BeginForm("CarEditDialog", "Car", null, FormMethod.Post, new { id = "addEditCarForm" }))
    {
        @Html.HiddenFor(c => c.Id)
        <table id="addEditCarData">
            <tbody>
                <tr>
                    <td>@Html.LabelFor(c => c.Manufacturer)</td>
                    <td>
                        @Html.DropDownListFor(
                            c => c.Manufacturer,
                            new List<SelectListItem>(Model.AvailableManufacturers.Select(m => new SelectListItem {Text = m, Value = m})),
                            new { @class = "form-control" })
                    </td>
                </tr>
                <tr><td></td><td>@Html.ValidationMessageFor(c => c.Manufacturer)</td></tr>
                <tr class="row-separator"></tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Model)</td>
                    <td>
                        @Html.EditorFor(c => c.Model, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr><td></td><td>@Html.ValidationMessageFor(c => c.Model)</td></tr>
                <tr class="row-separator"></tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Engine)</td>
                    <td>
                        @Html.EditorFor(c => c.Engine, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr><td></td><td>@Html.ValidationMessageFor(c => c.Engine)</td></tr>
                <tr class="row-separator"></tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Year)</td>
                    <td>
                        @Html.EditorFor(c => c.Year, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr><td></td><td>@Html.ValidationMessageFor(c => c.Year)</td></tr>
                <tr class="row-separator"></tr>
                <tr>
                    <td>@Html.LabelFor(c => c.DeliveredOn)</td>
                    <td><input name="@nameof(Model.DeliveredOn)" id="@nameof(Model.DeliveredOn)" class="form-control" type="text" /></td>
                </tr>
                <tr><td></td><td>@Html.ValidationMessageFor(c => c.DeliveredOn)</td></tr>
                <tr class="row-separator"></tr>
            </tbody>
        </table>
    }
</div>

<script>
    $(document).ready(function() {
        $('table#addEditCarData input#@nameof(Model.DeliveredOn)').datepicker();
        $('table#addEditCarData input#@nameof(Model.DeliveredOn)').datepicker('option', 'dateFormat', 'yy-mm-dd');
        $('table#addEditCarData input#@nameof(Model.DeliveredOn)').datepicker('setDate', new Date(@Model.DeliveredOn.Year, @(Model.DeliveredOn.Month - 1), @Model.DeliveredOn.Day));
    });
</script>